[submodule "pathway"]
	path = pathway
	url = https://github.com/kmkilburg28/pathway
[submodule "snake"]
	path = snake
	url = https://github.com/kmkilburg28/snake
[submodule "WebGL"]
	path = WebGL
	url = https://github.com/kmkilburg28/WebGL
[submodule "KerasClone"]
	path = KerasClone
	url = https://github.com/kmkilburg28/KerasClone
[submodule "IntonationLearner"]
	path = IntonationLearner
	url = https://github.com/kmkilburg28/IntonationLearner.git
[submodule "AudioProcessing"]
	path = AudioProcessing
	url = https://github.com/kmkilburg28/AudioProcessing.git
[submodule "BackgammonImageProcessing"]
	path = BackgammonImageProcessing
	url = https://github.com/kmkilburg28/BackgammonImageProcessing.git
[submodule "PatternProcessing"]
	path = PatternProcessing
	url = https://github.com/kmkilburg28/PatternProcessing.git
[submodule "Checkers"]
	path = Checkers
	url = https://github.com/kmkilburg28/Checkers.git
[submodule "NBA_Predictions"]
	path = NBA_Predictions
	url = https://github.com/kmkilburg28/NBA_Predictions.git
[submodule "MultiAgentSurvival"]
	path = MultiAgentSurvival
	url = https://github.com/kmkilburg28/MultiAgentSurvival.git
[submodule "shut_the_box"]
	path = shut_the_box
	url = https://github.com/kmkilburg28/shut_the_box.git
