.projects-category:nth-child(even) {
	background-color:#161616e3
}
.projects-category:nth-child(odd) {
	background-color:#16161666
}

.projects-category h2 {
	text-align: center;
	font-family:'Times New Roman', Times, serif;
	font-variant: small-caps;
	font-size:2.5em;
	font-style: italic;
	color: white;
}
.projects-category h4 {
	text-align: center;
	/* font-family: "Times"; */
	/* font-style: italic; */
	font-variant: small-caps;
	color: white
}
.projects-category h4 a {
	color: white;
	text-decoration: none;
}
.projects-category h4 a:hover {
	text-decoration: underline;
}
.projects-category p {
	font-family: 'Times New Roman', Times, serif;
	color: #c1c1c1
}
.projects-category img {
	height: 15em;
	overflow:hidden;
}
.project-img {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.project-graphic {
	min-height: 15em;
	height: 100%;
	width: 100%;
}

.fa-linkedin {
	color: #0e76a8;
	/* background: radial-gradient() */
}

.footer, .header {
	color: #b8b8b8
}
.footer a, .header a {
	color: inherit;
	text-decoration: none;
}
.footer a:hover, .header a:hover {
	color: gray;
}